* {
    padding: inherit;
    margin: auto;

}


body {
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbe93e;

}

.info {
    padding: initial;
    width: auto;
    float: left;
    background-color: #fbe93e;
}

.account {
    float: right;
}

li a {
    display: block;
    color: rgb(82, 79, 79);
    font-family: Fantasy, serif;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffffff;
}

.title {
    color: #202C4D;
    text-align: center;
    margin-top: 30px;
}

.percent {
    color: #202C4D;
    text-align: center;
}

.home {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(82, 79, 79);
    background-color: #fbe93e;
    border: none;
    box-shadow: 0 9px #999;
    /* border: 2px solid black; */

}

.home:hover {
    background-color: rgb(255, 255, 255);
}

.prof {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(82, 79, 79);
    background-color: #fbe93e;

    border: none;
    box-shadow: 0 9px #999;
    /* border: 2px solid black; */
}

.prof:hover {
    background-color: rgb(255, 255, 255);
}

.post {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(82, 79, 79);
    background-color: #fbe93e;

    border: none;
    box-shadow: 0 9px #999;
    /* border: 2px solid black; */
}

.post:hover {
    background-color: rgb(255, 255, 255);
}
.about{
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(82, 79, 79);
    background-color: #fbe93e;

    border: none;
    box-shadow: 0 9px #999;
}

.reg {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(82, 79, 79);
    background-color: #fbe93e;

    border: none;
    box-shadow: 0 9px #999;

}

.reg:hover {
    background-color: rgba(255, 255, 255, 0.98);
}


.log {
   padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(82, 79, 79);
    background-color: #fbe93e;

    border: none;
    box-shadow: 0 9px #999;
    /* border: 2px solid black; */
}

.log:hover {
    background-color: rgb(255, 255, 255);
}

.log-out {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(82, 79, 79);
    background-color: #fbe93e;
    border: none;
    box-shadow: 0 9px #999;

}

.log-out:hover {
    background-color: rgb(255, 255, 255);
}


/*.about-us{*/
/*    padding: 15px;*/
/*    font-size: 18px;*/
/*    text-align: right;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    color: rgb(82, 79, 79);*/
/*    !* background-color: #04AA6D; *!*/
/*    border: none;*/
/*    box-shadow: 0 9px #999;*/
/*    !* border: 2px solid black; *!*/
/*}*/

/*.about:hover {*/
/*    background-color: rgba(43, 78, 62, 0.568);*/
/*}*/


aside {
   margin-top: 5%;
    width: 1000px;
    height: fit-content;
    border: 10px solid rgba(0, 0, 0, 0.85);
    border-radius: inherit;
    box-sizing: border-box;
    background-color: #fbe93e;
}



.name {
    padding: 25px;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.socials{
    font-size: 50px;

}

.social-button{
    text-decoration: unset;
    border: 5px solid black;
    border-radius: 15px;
    background-color: #0e0e0e;
    color: #ffdf0c;
}
.social-button:hover{
    border: 7px solid #090808;
    text-decoration: unset;
}


.socials,.information{
    text-align: center;

}
.headline-about{
    text-align: center;
    font-style: initial;
    text-decoration: underline;
    font-size: 50px;
}
.information{
    font-size: 25px;
}



/*fieldset {*/
/*  margin: 1em auto;*/
/*  padding: 2em;*/
/*  width: 25em;*/
/*  border-radius: 2px;*/
/*  border-color: #2d333b;*/
/*  background: #3030fa;*/
/*  box-shadow: 0 2px 2px #025fe7;*/
/*}*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;


}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;


}

option{

}

input[type=submit] {
    width: 100%;

    background-color: rgb(82, 79, 79);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #202C4D;
}

.user-post {
    border-radius: 5px;
    border-style: ridge;
    /*border: 10px solid rgb(255, 255, 255);*/
    background: #ffdf0c;
    margin: auto;
    width: 700px;
    padding: 20px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}


/*fieldset legend{*/
/*  font-weight: 700;*/
/*  font-size: 2em;*/
/*  text-transform: uppercase;*/
/*  letter-spacing: 0.12em;*/
/*  padding: 0.5em;*/
/*  color: #cc1010;*/
/*  background: #7311ce;*/
/*  -o-border-image: linear-gradient(180deg, rgb(215, 10, 10) 50%, #7508a1 50%) 1 round;*/
/*  border-width: 1px;*/
/*  border-style: solid;*/
/*  display: block;*/
/*  width: 100%;*/
/*  margin: 0 auto;*/
/*}*/

.wrapper {
    position: absolute;
    top: 25%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: fit-content;
    height: auto;
}

.redirect_button {
    width: 200px;
    height: 70px;
    background: linear-gradient(to left top, rgb(82, 79, 79) 50%, #fbe93e 50%);
    border-style: none;
    color: rgb(3, 3, 3);
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 1px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.redirect_button span {
    position: absolute;
    display: block;
}

.redirect_button span:nth-child(1) {
    height: 3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right top, rgba(0, 0, 0, 0), #0e0e0e);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -200px
    }
    100% {
        left: 200px;
    }
}

.redirect_button span:nth-child(2) {
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to top, rgb(82, 79, 79), rgb(82, 79, 79));
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -70px;
    }
    100% {
        top: 70px;
    }
}

.redirect_button span:nth-child(3) {
    height: 3px;
    width: 200px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #fbe93e 50%);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -200px;
    }
    100% {
        right: 200px;
    }
}

.redirect_button span:nth-child(4) {
    height: 70px;
    width: 3px;
    bottom: -70px;
    left: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -70px;
    }
    100% {
        bottom: 70px;
    }
}

.redirect_button:hover {
    transition: all .4s;
    transform: rotate(0deg) scale(1.3);
    box-shadow: 1px 3px 5px #ffffff;
}

.redirect_button:hover span {
    animation-play-state: paused;
}
.user-reg{  border-radius: 5px;
    border-style: ridge;
    /*border: 10px solid rgb(255, 255, 255);*/

    background: #ffdf0c;
    margin: auto;
    width: 700px;
    padding: 20px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
.register-form{
    size: initial;
}
input[type=email]{
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
}
input[type=password]{
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
}

span { text-indent: -9999px; }

.all-posts{
margin-top: 5%;
    width: 1000px;
    height: fit-content;
    border: 10px solid rgba(0, 0, 0, 0.85);
    border-radius: inherit;
    box-sizing: border-box;
    background-color: #fbe93e;
}

.post-title{
        padding: 25px;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
