{% extends 'base/base.html' %}
{% block base %}

<body>
<div class="about-us">


<br>
<br>
<h3>
    <aside>
        <div class="name">Name: Ilias Taskoudis</div>
        <br>
        <div class="socials">Socials: <a  class= "social-button" href="https://linktr.ee/youngtask%22%3E">Find me here!</a>
        </div>
        <br>
        <h1 class="headline-about">About me</h1>

        <div class="information"><p>I am a 18-year-old boy who being hyped every time I open my editor to CODE.
            I started coding since the first pandemic,I had so much time to practice at home and become.
            better at it.All this hard work paid so am here now creating my first website, enjoy!</p></div>

    </aside>

</h3>
</div>


</body>
{% endblock %}
