{% extends 'base/base.html' %}
{% block base %}
    <div>
        <h1 class="title">RedNot</h1>
        <h1 class="percent">5%</h1>
    </div>
    <body>
    <div class="wrapper">
        <div class="main-content">
            <div class="button-form">
                <form action="{% url "post-make" %}" method="get">
                    <button class="redirect_button">
                        Make a Post+
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </form>
            </div>
        </div>
{#        put a div to display images in the center#}
            {% if post %}

                <div class="all-posts">
                    {% for users_post in post %}
                        <div class="main-post">
                            <h1 class="post-title">{{ users_post.title }}</h1>
                            <p class="post-description">{{ users_post.details }}</p>
                            <p class="post-category"> Category: {{ users_post.category }}</p>
                            <p class="post-user">By: {{ users_post.user.appusername.username }}</p>
                        </div>
                    {% endfor %}

                    
                </div>
            {% endif %}
        </div>
    </div>


    </body>
{% endblock %}
