<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>home</title>
</head>
{#<h1>{{ request.user }}</h1>#}
<body>
<div>
    <ul>
        <li class="info"><a class="home" href="{% url 'home' %}">Home</a></li>
        <li class="info"><a class="prof" href="profile.html">Profile</a></li>
        <li class="info"><a class="post" href="{% url 'posting' %}">Posts</a></li>
        <li class="info"><a class="about" href="{% url 'about us' %}"> About Us</a></li>
        <li class="info"><a class="about" href="{% url 'post-make' %}">Post Make</a></li>
        {% if user.is_authenticated %}

        <li class="account"><a class="log-out" href="{% url 'logout' %}"> Logout</a></li>
        {% endif %}
        <li class="account"><a class="reg" href="{% url 'register' %}">Register</a></li>
        <li class="account"><a class="log" href="{% url 'log in' %}">Login</a></li>


    </ul>

</div>

<div>
    <h1 class="title">RedNot</h1>
    <h1 class="percent">5%</h1>
</div>

<div class="wrapper">
    <form action="{% url "post-make" %}" method="get">
        <button class="redirect_button">
            Make a Post+
            <span></span>
            <span></span>
            <span></span>
        </button>
    </form>
</div>
<h1>
{% if user.is_authenticated %}
        {{ user.appusername.username }}
{% endif %}
</h1>

</body>
</html>
