{% extends 'base/base.html' %}
{% block base %}
    <div>
        <h1 class="title">RedNot</h1>
        <h1 class="percent">5%</h1>
    </div>
    <body>
    <div class="wrapper">
        <div class="main-content">
        </div>


                <div class="all-posts">

                    {% for image in all_images %}
                        <div class="main-post">

                            <h1 class="post-title"> {{ image.title }}</h1>
                            <div class="container">

                            <img class="image-content" src='{{ image.image }}'>
                            </div>
                        </div>

                    {% endfor %}

                </div>

        </div>



    </body>
{% endblock %}
