{% extends 'base/base.html' %}
{% block base %}
    <div>
        <h1 class="title">RedNot</h1>
{#        <h1 class="percent">5%</h1>#}
    </div>
    <body>
    <div class="wrapper">
        <div class="main-content">


            {#        {% if all_images %}#}
            {% for image in all_images %}
                <div class="all-posts">


                    {#                <div class="main-image">#}

                    <h1 class="post-title"> {{ image.title }}</h1>
                    {#                            <div class="container">#}

                    <img class="image-content" src='{{ image.image }}'>

                    <p class="image-user">By: {{ image.user.appusername.username }}</p>
                    {#                            <a class="button-post" href="{% url 'edit post' pk=post.pk %}">Edit</a>#}

                    {#                            </div>#}
                </div>

            {% endfor %}

        </div>
        {#    {% endif %}#}
    </div>
    {#    </div>#}
    </body>
{% endblock %}
