{% extends 'base/base.html' %}
{% block base %}
    <body>
    <div class="wrapper">
        <div class="main-content">


            {% if users_post or users_images %}
                <h1 class="post-title">TEXTS</h1>
                <div class="all-posts">

                    {% for post in users_post %}
                        <div class="main-post">
                            <h1 class="post-title">{{ post.title }}</h1>
                            <p class="post-description">{{ post.details }}</p>
                            <p class="post-category"> Category: {{ post.category }}</p>
{#                            <p class="post-user">By: {{ post.user.appusername.username }}</p>#}
                            <a class="button-post" href="{% url 'edit post' pk=post.pk %}">Edit</a>
                            <a class="button-delete" href="{% url 'delete post' pk=post.pk %}">Delete</a>

                        </div>
                    {% endfor %}

                </div>
                <div class="wrapper">
                <div class="main-content">

                <h1 class="post-title">IMAGES</h1>

                    {% for image in users_images %}
                        <div class="all-posts">
{#                        <div class="main-post">#}

                            <h1 class="post-title"> {{ image.title }}</h1>
                            {#                            <div class="container">#}

                            <img class="image-content" src='{{ image.image }}'>

{#                            <p class="image-user">By: {{ image.user.appusername.username }}</p>#}
                            <a class="button-delete" href="{% url 'delete image' pk=image.id %}">Delete</a>
                        </div>

                    {% endfor %}


                </div>
            {% else %}
                <h1>No current posts for the user</h1>
            {% endif %}
            </div>
            </div>
        </div>
{#    </div>#}
    </body>
{% endblock %}
