{% extends 'base/base.html' %}
{% block base %}
    <body>
    <div class="about-us">


        <br>
        <br>
        <h3>
            <aside>
                <div class="name">Name: {{ request.user.appusername.username }}</div>
                <div class="name">Email: {{ request.user }}</div>
                <br>
                <div class="socials">Age: {{ request.user.appusername.age }}
                </div>
                <br>
                <div class="name">Total posts: {{ users_info }}</div>

            </aside>

        </h3>
    </div>

    </body>
{% endblock %}
